body {
    background-color: #FFF8EA;
    color: #594545;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    z-index: 10;
}
nav li {
    list-style: none;
    background-color: white;
    color: #3d3d3d;
    margin: 0;
    flex: 1;
    min-width: 200px;
    text-align: center;
    display: flex;
    position: relative;
}
nav a, nav a:visited {
    text-decoration: none;
    width: 100%;
    padding: 8px 0;
    color: #3d3d3d;
}
nav a:hover {
    background-color: yellow;
    color: #FFF8EA;
}
nav a.active {
    color: #FFF8EA;
    background-color: ;
}
h1 {
    color: rgba(61,61,61,1)
}
.dropdown-content {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 20;
}
nav li:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    font-weight: bold;
}
.dropdown-content ul {
    flex-direction: column;
}
a {
    color: #594545;
}